<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
    
    <!-- Bootstrap CSS CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <h1 class="text-center">swarm-twitter</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 70vh;">
            <!-- ボタンを<a>タグでラップしてyahoo.co.jpへのリンクを追加 -->
            <a href="https://foursquare.com/oauth2/authenticate?client_id=41LQ3TQDXIUC5JSFCZEZNITOY34AWBS54T1QBSG3CXWA55V2&response_type=code&redirect_uri= {{ setting.url_prefix }}/redirect" target="_blank">
                <button class="btn btn-primary">Swarm連携する</button>
            </a>
        </div>
    </div>
</div>

<!-- Optional Bootstrap JS (for certain functionalities) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
